<div class="container" id="box">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="./dashboard.html"><img id="logo" src="./img/pref-logo.png" alt="Prefeitura de Goiânia"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link" href="./dashboard.html">Serviços Municipais</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Minhas Solicitações</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <h1 class="text-center mt-5">Solicitação de Alvará de Localização e Funcionamento<br><small>Analise de Pendências</small></h1>


    <form id="formAllvara" action="allvara-confirmed.html" class="">
        <!-- DADOS DA PESSOA FÍSICA (preenchido pelo sistema) -->
        <div class="form-steps">
            <legend>Solicitante</legend>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label class="control-label" for="name">Nome</label>
                    <input disabled class="form-control" id="name" name="name" placeholder="Fulano da Silva" type="text"/>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label" for="cpf">CPF</label>
                    <input disabled class="form-control" id="cpf" name="cpf" placeholder="000.000.000-00" type="text"/>
                </div>
            </div>

        </div>



        <!-- DADOS DA PESSOA JURÍDICA -->
        <div class="form-steps">
            <legend>Empresa</legend>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label class="control-label" for="cnpj">CNPJ</label>
                    <input disabled class="form-control" id="cnpj" name="cnpj" type="text" placeholder="548.762.565/5555-60"/>
                </div>

                <div class="form-group col-md-7">
                    <label class="control-label" for="razaoSocial">Razão Social</label>
                    <input disabled class="form-control" id="razaoSocial" name="razaoSocial" placeholder="José Silva e Moreira Ltda." type="text" />
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label" for="quantFunc">Nº de Funcionários</label>
                    <input disabled class="form-control" id="quantFunc" name="quantFunc" type="text" placeholder="2" />
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">A Razão Social informada é a mesma do Contrato Social?</label>
                    <div>
                        <div class="form-check">
                            <label class="radio"><input disabled name="razaoContrato-check" type="radio" value="S" checked/>Sim</label>
                        </div>
                        <div class="form-check">
                            <label class="radio"><input disabled name="razaoContrato-check" type="radio" value="N"/>N&atilde;o</label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">A Empresa est&aacute; em Funcionamento?</label>
                    <div>
                        <div class="form-check">
                            <label class="radio"><input disabled name="funcionamento-check" type="radio" value="S"/>Sim</label>
                        </div>
                        <div class="form-check">
                            <label class="radio"><input disabled name="funcionamento-check" type="radio" value="N" checked/>N&atilde;o</label>
                        </div>
                    </div>
                </div>
            </div>


        </div>



        <!-- DADOS DO LOCAL -->
        <div class="form-steps">
            <legend>Local</legend>
            <!--  -->

            <fieldset>
                <legend>Uso de Solo</legend>

                <div class="form-row">

                    <div class="form-group col-md-2">
                        <label class="control-label" for="iptu">N&ordm; IPTU</label>
                        <input disabled class="form-control" id="iptu" name="iptu" type="text" placeholder="302.055.0229.0008" />
                    </div>

                    <div class="form-group col-md-4">
                        <label class="control-label" for="usoSolo">
                        N&ordm; protocolo Uso de Solo</label>
                        <input disabled class="form-control" id="usoSolo" name="usoSolo" type="text" required placeholder="74663117-0" />
                    </div>
                    <div class="custom-file col-md-6">
                        <p class="doc-enviado"><a href="./img/uso-solo.jpg" data-fancybox="images"><i class="fas fa-eye"></i> Confira o Uso do Solo</a></p>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" id="escritorio-check">O local foi classificado como “Escritório"?</label>
                        <div>
                            <div class="form-check">
                                <label class="radio">
                                    <input disabled name="escritorio-check" type="radio" value="S"/>
                                    Sim
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="radio">
                                    <input disabled name="escritorio-check" type="radio" value="N" checked/>
                                    N&atilde;o
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-8">
                        <label class="control-label">Todas as atividades exercidas pela empresa s&atilde;o admitidas pelo Uso de Solo?</label>
                        <div>
                            <div class="form-check">
                                <label class="radio">
                                    <input disabled name="atividadesUsoSolo-check" type="radio" value="S" checked/>
                                    Sim
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="radio">
                                    <input disabled name="atividadesUsoSolo-check" type="radio" value="N"/>
                                    N&atilde;o
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Necessita de licenciamento sanit&aacute;rio/VISA?</label>
                        <div>
                            <div class="form-check">
                                <label class="radio">
                                    <input disabled name="visa-check" type="radio" value="S"/>
                                    Sim
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="radio">
                                    <input disabled name="visa-check" type="radio" value="N" checked/>
                                    N&atilde;o
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-5">
                        <label class="control-label">Necessita de licenciamento ambiental/AMMA?</label>
                        <div>
                            <div class="form-check">
                                <label class="radio">
                                    <input disabled name="amma-check" type="radio" value="S"/>
                                    Sim
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="radio">
                                    <input disabled name="amma-check" type="radio" value="N" checked/>
                                    N&atilde;o
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group col-md-3">
                        <label class="control-label">Outro Documento?</label>
                        <div>
                            <div class="form-check">
                                <label class="radio">
                                    <input disabled name="docExtra-check" type="radio" value="S" />
                                    Sim
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="radio">
                                    <input disabled name="docExtra-check" type="radio" value="N" checked />
                                    N&atilde;o
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-7">
                        <label class="control-label" for="docExtra">
                            Qual Documento?
                        </label>
                        <select class="select form-control" id="docExtra" name="docExtra" disabled>
                            <option value="select">
                                Selecione
                            </option>
                            <option value="projIndustria">
                                Memorial descritivo de projeto da ind&uacute;stria
                            </option>
                            <option value="detran">
                                Documento de credenciamento junto ao Departamento Estadual de Tr&acirc;nsito
                            </option>
                            <option value="impSindical">
                                Quita&ccedil;&atilde;o do imposto sindical
                            </option>
                        </select>
                    </div>
                    <div class="custom-file col-md-5">
                        <p class="doc-enviado"><i class="fas fa-times-circle"></i> Sem Documento</p>
                    </div>
                </div>
                </fieldset>

                <fieldset>
                    <legend>Número Oficial</legend>

                    <div class="form-row">

                        <div class="form-group col-md-3">
                            <label class="control-label" for="numeroOficialProt">
                            Protocolo do Número Oficial</label>
                            <input disabled class="form-control" id="numeroOficialProt" name="numeroOficialProt" type="text" placeholder="74662943" />
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label" for="numeroOficial">
                            Numero Oficial</label>
                            <input disabled class="form-control" id="numeroOficial" name="numeroOficial" type="text" placeholder="232" />
                        </div>
                        <div class="custom-file col-md-6">

                            <p class="doc-enviado"><a href="./img/numero-oficial.jpg" data-fancybox="images"><i class="fas fa-eye"></i> Confira o Número Oficial</a></p>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Estrutura Física</legend>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label class="control-label" for="bombeirosProt">
                            Protocolo do Certificado de Conformidade dos Bombeiros</label>
                            <input disabled class="form-control" id="bombeirosProt" name="bombeirosProt" type="text" placeholder="119937/18" />
                        </div>
                        <div class="custom-file col-md-7">

                            <p class="doc-enviado"><a href="./img/bombeiros.jpg" data-fancybox="images"><i class="fas fa-eye"></i> Confira o Certificado de Conformidade dos Bombeiros</a></p>
                        </div>

                    </div>



                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="control-label">
                                O estabelecimento possui piso tatil?
                            </label>
                            <div class=" ">
                                <div class="form-check">
                                    <label class="radio">
                                        <input disabled name="pisoTatil-check" type="radio" value="S"/>
                                        Sim
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="radio">
                                        <input disabled name="pisoTatil-check" type="radio" value="N" checked/>
                                        N&atilde;o
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">
                                O estabelecimento possui habite-se?
                            </label>
                            <div class=" ">
                                <div class="form-check">
                                    <label class="radio">
                                        <input disabled name="habite-check" type="radio" value="S"/>
                                        Sim
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="radio">
                                        <input disabled name="habite-check" type="radio" value="N" checked/>
                                        N&atilde;o
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                     <div class="form-group col-md-8">
                        <label class="control-label">
                            O estabelecimento encontra-se no interior de shopping, galeria ou pr&eacute;dio comercial?
                        </label>
                        <div class=" ">
                            <div class="form-check">
                                <label class="radio">
                                    <input disabled id="sublocal-sim" name="sublocal-check" type="radio" value="S"/>
                                    Sim
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="radio">
                                    <input disabled id="sublocal-nao" name="sublocal-check" type="radio" value="N" checked/>
                                    N&atilde;o
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="custom-file col-md-4" id="alvaraprincipal">
                        <p class="doc-enviado"><i class="fas fa-times-circle"></i> Sem Documento</p>
                    </div>

                </div>
            </fieldset>



            <fieldset>
                <legend>Área Ocupada</legend>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label class="control-label" for="areaAtividade">Área ocupada pela atividade</label>
                        <input disabled class="form-control" id="areaAtividade" name="areaAtividade" type="text" placeholder="75" />
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label" for="areaEstoque">Estoque/Escada/Elevadores</label>
                        <input disabled class="form-control" id="areaEstoque" name="areaEstoque" type="text" placeholder="6" />
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label" for="areaCozinha">Copa/Cozinha/Banheiros</label>
                        <input disabled class="form-control" id="areaCozinha" name="areaCozinha" type="text" placeholder="4" />
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label" for="areaCarga">Carga/descarga</label>
                        <input disabled class="form-control" id="areaCarga" name="areaCarga" type="text" placeholder="0" />
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="areaIndustria">Produção(Indústria)</label>
                        <input disabled class="form-control" id="areaIndustria" name="areaIndustria" type="text" placeholder="0" />
                    </div>
                    <div class="form-group col-md-5">
                        <label class="control-label" for="areaRecreacao">Recreação/Quadras Esportivas</label>
                        <input disabled class="form-control" id="areaRecreacao" name="areaRecreacao" type="text" placeholder="0" />
                    </div>

                    <div class="form-group col-md-3">
                        <label class="control-label" for="vagasEstacionamento">Nº de vagas de estacionamento</label>
                        <input disabled class="form-control" id="vagasEstacionamento" name="vagasEstacionamento" type="text" placeholder="3" />
                    </div>
                </div>
            </fieldset>

        </div>
        <div class="form-steps">
            <legend>Parecer</legend>
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="situacao">Situação</label>
                     <select class="select form-control" id="situacao" name="situacao">
                            <option value="select" selected>
                                Selecione
                            </option>
                            <option value="aprovado">
                                Aprovado
                            </option>
                            <option value="reprovado">
                                Reprovado
                            </option>
                        </select>
                </div>
                <div class="form-group col-12">
                    <label for="observacoes">Observações</label>
                    <textarea class="form-control" id="observacoes" rows="3"></textarea>
                </div>
            </div>

        </div>

        <div class="row justify-content-end mt-3" id="botoes">
            <button type="reset" class="btn btn-danger">Cancelar</button>
            <button type="submit" class="btn btn-success">Salvar Análise</button>
        </div>

    </form>
</div>