
    <div class="container" id="box">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="./dashboard.html"><img id="logo" src="./img/pref-logo.png" alt="Prefeitura de Goiânia"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active"><a class="nav-link" href="./dashboard.html">Serviços Municipais</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Minhas Solicitações</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <h1 class="text-center mt-5">Solicitação de Alvará de Localização e Funcionamento</h1>

        <form novalidate id="frm"  name="frm" ng-submit="save()">
            <!-- DADOS DA PESSOA FÍSICA (preenchido pelo sistema) -->
            <div class="form-steps"> 
                <legend>Solicitante</legend>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label class="control-label" for="name">Nome</label>
                        <input required class="form-control" id="name" name="nome" placeholder="Fulano da Silva" disabled type="text"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label" for="cpf">CPF</label>
                        <input required class="form-control" id="cpf" name="cpf" placeholder="000.000.000-00" disabled type="text"/>
                    </div>
                </div>

            </div>



            <!-- DADOS DA PESSOA JURÍDICA -->
            <div class="form-steps">
                <legend>Empresa</legend>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label class="control-label" for="cnpj">CNPJ</label>
                        <input required class="form-control" id="cnpj" name="cnpj" type="text"/>
                        <div class="invalid-feedback">Informação Obrigatória.</div>
                    </div> 

                    <div class="form-group col-md-8">
                        <label class="control-label" for="razaoSocial">Razão Social</label>
                        <input required class="form-control" id="razaoSocial" name="razaoSocial" type="text" required/>
                        <div class="invalid-feedback">Informação Obrigatória.</div>
                    </div>  
                    <div class="form-group col-md-2">
                        <label class="control-label" for="quantFunc">Nº de Funcionários</label>
                        <input class="form-control" id="quantFunc" name="quantFunc" type="text"/>
                    </div>  
                    <div class="form-group col-md-6">
                        <label class="control-label">A Razão Social informada é a mesma do Contrato Social?</label>
                        <div>
                            <div class="form-check">
                                <label class="radio"><input required name="razaoContrato-check" type="radio" value="S" checked/>Sim</label>
                            </div>
                            <div class="form-check">
                                <label class="radio"><input name="razaoContrato-check" type="radio" value="N"/>N&atilde;o</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">A Empresa est&aacute; em Funcionamento?</label>
                        <div>
                            <div class="form-check">
                                <label class="radio"><input required id="funcionamento-check1" name="funcionamento-radio" type="radio" value="S"/>Sim</label>
                            </div>
                            <div class="form-check">
                                <label class="radio"><input id="funcionamento-check2" name="funcionamento-radio" type="radio" value="N" checked/>N&atilde;o</label>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


            <!-- DADOS DO LOCAL -->
            <div class="form-steps">
                <legend>Local</legend>
                <!--  -->

                <fieldset>
                    <legend>Uso de Solo</legend>

                    <div class="form-row">

                        <div class="form-group col-md-2">
                            <label class="control-label" for="iptu">N&ordm; IPTU</label>
                            <input required class="form-control" id="iptu" name="iptu" type="text" />
                            <div class="invalid-feedback">Informação Obrigatória.</div>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label" for="usoSolo">
                            N&ordm; protocolo Uso de Solo</label>
                            <input required class="form-control" id="usoSolo" name="usoSolo" type="text" required/>
                            <div class="invalid-feedback">Informação Obrigatória.</div>
                        </div>
                        <div class="custom-file col-md-6">
                            <input required type="file" class="custom-file-input" id="usoSoloDoc" required>
                            <label class="custom-file-label" for="usoSoloDoc">Envie o Uso de Solo</label>                            
                            <div class="invalid-feedback">Envie um arquivo de imagem</div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" id="escritorio-check">O local foi classificado como “Escritório"?</label>
                            <div>
                                <div class="form-check">
                                    <label class="radio">
                                        <input required name="escritorio-check" type="radio" value="S"/>
                                        Sim
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="radio">
                                        <input name="escritorio-check" type="radio" value="N" checked/>
                                        N&atilde;o
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="control-label">Todas as atividades exercidas pela empresa s&atilde;o admitidas pelo Uso de Solo?</label>
                            <div>
                                <div class="form-check">
                                    <label class="radio">
                                        <input required name="atividadesUsoSolo-check" type="radio" value="S" checked/>
                                        Sim
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="radio">
                                        <input name="atividadesUsoSolo-check" type="radio" value="N"/>
                                        N&atilde;o
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Necessita de licenciamento sanit&aacute;rio/VISA?</label>
                            <div>
                                <div class="form-check">
                                    <label class="radio">
                                        <input required name="visa-check" type="radio" value="S"/>
                                        Sim
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="radio">
                                        <input name="visa-check" type="radio" value="N" checked/>
                                        N&atilde;o
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-5">
                            <label class="control-label">Necessita de licenciamento ambiental/AMMA?</label>
                            <div>
                                <div class="form-check">
                                    <label class="radio">
                                        <input required name="amma-check" type="radio" value="S"/>
                                        Sim
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="radio">
                                        <input name="amma-check" type="radio" value="N" checked/>
                                        N&atilde;o
                                    </label>
                                </div>
                            </div>
                        </div>


                        <div class="form-group col-md-3">
                            <label class="control-label">Outro Documento?</label>
                            <div>
                                <div class="form-check">
                                    <label class="radio">
                                        <input required name="docExtra-check" type="radio" value="S" onclick="showDocExtra();" />
                                        Sim
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="radio">
                                        <input name="docExtra-check" type="radio" value="N" checked onclick="hideDocExtra();" />
                                        N&atilde;o
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div id="docExtraDiv" style="display: none;">
                            <div class="form-group col-md-7">
                                <label class="control-label" for="docExtra">
                                    Qual Documento?
                                </label>
                                <select class="select form-control" id="docExtra" name="docExtra">
                                    <option value="projIndustria">
                                        Memorial descritivo de projeto da ind&uacute;stria
                                    </option>
                                    <option value="detran">
                                        Documento de credenciamento junto ao Departamento Estadual de Tr&acirc;nsito
                                    </option>
                                    <option value="impSindical">
                                        Quita&ccedil;&atilde;o do imposto sindical
                                    </option>
                                </select>
                            </div>
                            <div class="custom-file col-md-5">
                                <input type="file" class="custom-file-input" id="docExtraDoc">
                                <label class="custom-file-label" for="docExtraDoc">Envie o Documento Extra</label>
                            </div>
                        </div>
                    </div>
                    </fieldset>

                    <fieldset>
                        <legend>Número Oficial</legend>

                        <div class="form-row">

                            <div class="form-group col-md-3">
                                <label class="control-label" for="numeroOficialProt">
                                Protocolo do Número Oficial</label>
                                <input required class="form-control" id="numeroOficialProt" name="numeroOficialProt" type="text"/>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label" for="numeroOficial">
                                Numero Oficial</label>
                                <input required class="form-control" id="numeroOficial" name="numeroOficial" type="text"/>
                            </div>
                            <div class="custom-file col-md-6">
                                <input required type="file" class="custom-file-input" id="numeroOficialDoc">
                                <label class="custom-file-label" for="numeroOficialDoc">Envie o Documento do Número Oficial</label>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Estrutura Física</legend>
                        <div class="form-row">
                            <div class="form-group col-md-7">
                                <label class="control-label" for="bombeirosProt">
                                Protocolo do Certificado de Conformidade dos Bombeiros</label>
                                <input required class="form-control" id="bombeirosProt" name="bombeirosProt" type="text"/>
                            </div>
                            <div class="custom-file col-md-5">
                                <input required type="file" class="custom-file-input" id="bombeirosDoc">
                                <label class="custom-file-label" for="bombeirosDoc">Envie o Certificado de Conformidade dos Bombeiros</label>
                            </div>

                        </div>



                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label">
                                    O estabelecimento possui piso tatil?
                                </label>
                                <div class=" ">
                                    <div class="form-check">
                                        <label class="radio">
                                            <input required name="pisoTatil-check" type="radio" value="S"/>
                                            Sim
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="radio">
                                            <input name="pisoTatil-check" type="radio" value="N" checked/>
                                            N&atilde;o
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">
                                    O estabelecimento possui habite-se?
                                </label>
                                <div class=" ">
                                    <div class="form-check">
                                        <label class="radio">
                                            <input required name="habite-check" type="radio" value="S"/>
                                            Sim
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="radio">
                                            <input name="habite-check" type="radio" value="N" checked/>
                                            N&atilde;o
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                           <div class="form-group col-md-8">
                            <label class="control-label">
                                O estabelecimento encontra-se no interior de shopping, galeria ou pr&eacute;dio comercial?
                            </label>
                            <div class=" ">
                                <div class="form-check">
                                    <label class="radio">
                                        <input required id="sublocal-sim" name="sublocal-check" type="radio" value="S" onclick="showAlvara();"/>
                                        Sim
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="radio">
                                        <input id="sublocal-nao" name="sublocal-check" type="radio" value="N" onclick="hideAlvara();" checked/>
                                        N&atilde;o
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="custom-file col-md-4" id="alvaraprincipal" style="display: none;">
                            <input type="file" class="custom-file-input" id="alvaraPrincipalDoc">
                            <label class="custom-file-label" for="alvaraPrincipalDoc">Envie o Alvará</label>
                        </div>

                    </div>
                </fieldset>



                <fieldset>
                    <legend>Área Ocupada</legend>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label class="control-label" for="areaAtividade">Área ocupada pela atividade</label>
                            <input required class="form-control" id="areaAtividade" name="areaAtividade" type="text" placeholder="Espaço em m²" />
                        </div>                        
                        <div class="form-group col-md-3">
                            <label class="control-label" for="areaEstoque">Estoque/Escada/Elevadores</label>
                            <input required class="form-control" id="areaEstoque" name="areaEstoque" type="text" placeholder="Espaço em m²" />
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label" for="areaCozinha">Copa/Cozinha/Banheiros</label>
                            <input required class="form-control" id="areaCozinha" name="areaCozinha" type="text" placeholder="Espaço em m²" />
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label" for="areaCarga">Carga/descarga</label>
                            <input required class="form-control" id="areaCarga" name="areaCarga" type="text" placeholder="Espaço em m²" />
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label" for="areaIndustria">Produção(Indústria)</label>
                            <input required class="form-control" id="areaIndustria" name="areaIndustria" type="text" placeholder="Espaço em m²" />
                        </div>
                        <div class="form-group col-md-5">
                            <label class="control-label" for="areaRecreacao">Recreação/Quadras Esportivas</label>
                            <input required class="form-control" id="areaRecreacao" name="areaRecreacao" type="text" placeholder="Espaço em m²" />
                        </div>

                        <div class="form-group col-md-3">
                            <label class="control-label" for="vagasEstacionamento">Nº de vagas de estacionamento</label>
                            <input required class="form-control" id="vagasEstacionamento" name="vagasEstacionamento" type="text" />
                        </div>
                    </div>                    
                </fieldset>

            </div>

            <div class="row justify-content-end" id="botoes">
                <button type="reset" class="btn btn-info">Limpar</button>
                <button type="reset" class="btn btn-danger">Cancelar</button>
                <button type="submit" class="btn btn-success" ng-click="validateForm()" >Enviar</button>
            </div>           

        </form>
    </div>