<div class="container" id="box">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="./dashboard.html"><img id="logo" src="./img/pref-logo.png" alt="Prefeitura de Goiânia"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link" href="./dashboard.html">Serviços Municipais</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Minhas Solicitações</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section>

        <h1 class="text-center mt-5">Solicitação de Alvará de Localização e Funcionamento</h1>

        <h2>O que é</h2>

        <p>O alvará de funcionamento é um documento que funciona como uma autorização para que a empresa possa exercer suas atividades. É o documento municipal responsável por permitir e legalizar a operação de uma empresa.</p>

        <h2>Legislação</h2>

        <p>A Licença de Localização e Funcionamento, consubstanciada no Alvará de Localização e Funcionamento, deve ser obtida antes do início das atividades de qualquer estabelecimento comercial, industrial, prestacional ou similar, nos termos do art. 111 da <a href="http://www.goiania.go.gov.br/download/smt/codigo%20posturas.pdf">Lei Complementar n° 014, de 29 de dezembro de 1992 (Código de Posturas do Município de Goiânia)</a>.</p>

        <h2>Quem deve requerer</h2>

        <p>Todos os tipos de empresas, como:</p>
        <ul>
            <li>estabelecimentos comerciais</li>
            <li>industrias</li>
            <li>prestadores de serviços</li>
            <li>e-commerce que dependa de uma sede física para estoque</li>
        </ul>

        <p>Os templos religiosos e os microempreendedores individuais com atividade econômica de baixo grau de risco (§ 5° do art. 111 do <a href="http://www.goiania.go.gov.br/download/smt/codigo%20posturas.pdf">Código de Posturas</a>);</p>


        <h2>Etapas</h2>

        <ol id="etapas">
            <li><h3>Solicitação de Alvará</h3>

                <div><p>Os documentos necessários para autuação do processo:</p>

                    <ol class="mb-3">
                        <li>Documento de informação sobre o uso do solo admitindo a atividade para o local permitido;</li>
                        <li>Certificado de aprovação do corpo de bombeiros militar do Estado de Goiás;</li>
                        <li>Documento de numeração predial ou correspondente;</li>
                        <li>Alvará sanitário, quando for necessário;</li>
                        <li>Memorial descritivo de projeto da indústria, quando for o caso;</li>
                        <li>Documento de credenciamento junto ao Departamento Estadual de Trânsito (DETRAN) para estabelecimento comercial do ramo de peças e acessórios usados para veículos automotores em geral e sucatas – ferro velho (Decreto n° 466, de 04 de março de 1999);</li>
                        <li>Documento de aprovação, expedido por órgão responsável por questões de meio ambiente, quando for o caso;</li>
                        <li>Quitação do imposto sindical.</li>
                    </ol>

                    <p>O interessado deverá estar atento aos dados constantes no documento de Informação Sobre o Uso do Solo, como:</p>
                    <ul>
                        <li>área e atividades admitidas;</li>
                        <li>exigência de reserva técnica de vagas de estacionamento e de área de carga/descarga;</li>
                        <li>existência de procedimento de embargo para o lote onde a atividade será exercida;</li>
                    </ul>
                </div>
            </li>

            <li><h3>Inspeção <small>Para negócios de alto impacto</small></h3>
                <div>

                </div>
            </li>
        </ol>
        <p class="text-right MT-3"><a href="#/alvara-form" class="btn btn-success">Solicitar Alvará de Localização e Funcionamento</a></p>
    </section>
</div>