    <div class="container" id="box">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="./dashboard.html"><img id="logo" src="./img/pref-logo.png" alt="Prefeitura de Goiânia"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active"><a class="nav-link" href="./dashboard.html">Serviços Municipais</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Minhas Solicitações</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <h1 class="text-center mt-5">Solicitação de Alvará de Localização e Funcionamento</h1>


        <section id="confirmacao">

            <div class="text-center">
                <p><i class="fas fa-check-circle" id="checkedIcon"></i></p>
                <h2 class="mt-1">Solicitação Salva</h2>
                <p class="mb-5"><em>Os dados cadastrados foram salvos e passarão por analise.</em></p>
            </div>

            <div>
                <p>Número de Protocolo: <strong>2019.000.0000</strong></p>
                <p>Você pode acompanhar o andamento dessa, e demais solicitações para a prefeitura, pela página de <a href="#">Minhas Solicitações</a> ou pelos canais seguintes canais:</p>

                <ul class="list-unstyled">
                    <li><a href="#"><i class="fas fa-envelope icon-red"></i> E-mail</a></li>
                    <li><a href="#"><i class="fas fa-sms icon-gray"></i> SMS</a></li>
                    <li><a href="#"><i class="fab fa-telegram-plane icon-blue"></i> Telegram</a></li>
                </ul>

                <hr class="mt-5" />

            </div>

            <div class="row justify-content-center" id="botoes">
                <a href="#/" class="btn btn-primary">Voltar ao Portal de Serviços</a>
                <a href="#/alvara-form" class="btn btn-success">Solicitar novo Alvará</a>
            </div>     

        </section>
    </div>