    <div class="container" id="box">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="./dashboard.html"><img id="logo" src="./img/pref-logo.png" alt="Prefeitura de Goiânia"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active"><a class="nav-link" href="./dashboard.html">Serviços Municipais</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Minhas Solicitações</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <h1 class="text-center mt-5">Solicitação de Alvará de Localização e Funcionamento<br><small>Analise de Pendências</small></h1>
        <section>
            <table class="table table-sm table-striped mt-5">
                <thead>
                    <tr>
                        <th>Nº Processo</th>
                        <th>Data de Envio</th>
                        <th>Tipo de Solicitação</th>
                    </tr>
                </thead>
                <tr>
                    <td><a href="#/alvara-analise">2019.1265.215</a></td>
                    <td>02/06/2019</td>
                    <td>Alvará de Localização e Funcionamento</td>
                </tr>
                <tr>
                    <td><a href="#/alvara-analise">2019.1298.315</a></td>
                    <td>06/06/2019</td>
                    <td>Alvará de Localização e Funcionamento</td>
                </tr>
                <tr>
                    <td><a href="#/alvara-analise">2019.1365.776</a></td>
                    <td>06/06/2019</td>
                    <td>Alvará de Horário Especial</td>
                </tr>
            </table>
        </section>
    </div>