<div class="container" id="header-container">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="./dashboard.html"><img id="logo" src="img/pref-logo.png" alt="Prefeitura de Goiânia"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link" href="#/">Serviços Municipais</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Minhas Solicitações</a></li>
                </ul>
            </div>
        </nav>
    </header>
</div>

<div class="container" id="main">
    <div id="fotos-header" class="corVerdeFundoFotos">
        <img class="imagem" alt="" src="/css/dashboard_files/pcacivica.jpg">
        <img class="imagem" alt="" src="/css/dashboard_files/FotosdeGoiania10.jpg">
        <img class="imagem" alt="" src="/css/dashboard_files/Image1.png">
        <img class="imagem" alt="" src="/css/dashboard_files/FotosdeGoiania18.jpg">
        <img class="imagem" alt="" src="/css/dashboard_files/bannergoiania1.jpg">
    </div>

    <div id="identificacao">
        <p class="text-right mb-0"><span>{{user.name}}</span> <i class="fas fa-bell"></i> <span class="sr-only">Notificações</span><i class="fas fa-user-cog"></i> <span class="sr-only">Configurações da Conta</span><i class="fas fa-power-off"></i> <span class="sr-only">Sair</span>
            <br><small>Para visualizar suas notificações, favor autenticar com certificado digital.</small>
        </p>
    </div>

    <div id="servicos">

        <div class="row" id="person1" ng-show="user.type === 'C'" >
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Processos</h5>
                        <p class="card-text">Acompanhe o andamento dos seus processos na Prefeitura.</p>
                        <a href="#" class="btn btn-primary"><i class="fas fa-external-link-alt"></i> Acessar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Situação Cadastral</h5>
                        <p class="card-text">Confira o status do cadastro da sua empresa.</p>
                        <a href="#" class="btn btn-primary"><i class="fas fa-external-link-alt"></i> Acessar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Certidões</h5>
                        <p class="card-text">Emita as certidões do municipio em um só lugar.</p>
                        <a href="#" class="btn btn-primary"><i class="fas fa-external-link-alt"></i> Acessar</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Alvará de Localização e Funcionamento</h5>
                        <p class="card-text">Solicite o Alvará.</p>
                        <a href="#/alvara-info" class="btn btn-primary"><i class="fas fa-external-link-alt"></i> Acessar</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Processos</h5>
                        <p class="card-text">Acompanhe o andamento dos seus processos na Prefeitura.</p>
                        <a href="#" class="btn btn-primary"><i class="fas fa-external-link-alt"></i> Acessar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Taxas e Impostos</h5>
                        <p class="card-text">Consulte e emita os DUAM para regularização.</p>
                        <a href="#" class="btn btn-primary"><i class="fas fa-external-link-alt"></i> Acessar</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Requerimento Fiscal</h5>
                        <p class="card-text">Solicite os documentos e informações fiscais sobre seu comercio.</p>
                        <a href="#" class="btn btn-primary"><i class="fas fa-external-link-alt"></i> Acessar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="person2" ng-show="user.type === 'S'">
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Analise de Solicitações</h5>
                        <p class="card-text">Existem <strong>3</strong> processos esperando analise.</p>
                        <a href="#/alvara-listagem" class="btn btn-primary"><i class="fas fa-external-link-alt"></i> Acessar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>