﻿.Content.ThemeGrid_Wrapper {
    margin-bottom: -50px;
    padding-bottom: 60px;
}

.desktop .Footer.ThemeGrid_Wrapper {
    min-width: 900px;
}

/* Footer **************************/
.Footer {
    background: #177340;
    color: #fff;
    font-size: 12px;
    height: 50px;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.Footer_OrganizationName {
    float: right;
    color:#fff;
    height: 100%;
    font-size: 16px;
    font-weight: 800;
}