﻿.FontTextMaior{
	font-size: 13px;   
}

.FontTextEnorme{
	font-size: 18px;   
}

.FontTextMenor{
	font-size: 11px;   
}

.corVerdeFundoFotos{
	background-color: #3CB371;   
}

.distanciaEsquerda{
	padding-left: 10px;   
}

.imagem{
	width: 95%;
}

/* 
Dois css criado para colocar a letra  do ACESSOS branco e 
Deixar o ListNotificacoes do tamanho da tela
*/

.TileNumber_text .Heading2, TileNumber_text .Heading3{
	color: white;
}


.container_notificacao_SICAE {
	position: static;
}


.OSFillParent { 
	display: block;
	width: 100%;
}
table.OSFillParent {
	display: table;
}
input.OSFillParent,
button.OSFillParent,
select.OSFillParent,
textarea.OSFillParent {
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.OSInline {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	vertical-align: top;
}
table.OSInline {
	display: inline-table;
}
.OSAutoMarginTop {
	margin-top: 10px;
}
table[class*="ThemeGrid_Width"] {
	display: inline-table;
	vertical-align: top;
}
div[class*="ThemeGrid_Width"] {
	vertical-align: top;
}
th[class*="ThemeGrid_Width"],
td[class*="ThemeGrid_Width"] {
	display: table-cell;
}
[class*="ThemeGrid_Width"] {
	display: inline-block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	*zoom: 1;
	*display: inline;
}
.ThemeGrid_Container {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#HomePage h1{
	font-weight: 700;
	font-size: 2.2rem;
	color: 
}

#HomePage h2{
	font-weight: 700;
	font-size: 1.8rem;

}