﻿div.calendar table,
div.calendar td,
div.calendar textarea,
div.calendar img {
    vertical-align: middle;
}

div.calendar {
    position: relative;
    z-index: 2;
}

div.calendar,
div.calendar table {
    font-size: 12px;
    cursor: default;
    background-color: white;
    border-collapse: collapse;
}

div.calendar table{
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 3px 4px 1px rgba(0,0,0,0.1);
    box-shadow: 1px 3px 4px 1px rgba(0,0,0,0.1);
}

div.calendar .button {
    background: #e8e8e8;
    text-align: center;
    padding: 2px;
    display: table-cell;
}

div.calendar table .wn {
    background: #fff;
    border: 1px solid #fff;
    border-right: 1px solid #666;
    padding: 2px 4px 3px 3px;
}

div.calendar thead .button.notclose {
    color: #666;
    line-height: 1;
}

div.calendar .nav {
}

div.calendar thead .title {
    background: #e8e8e8;
    font-size: 11px;
    line-height: 1;
    color: #666;
    text-align: center;
    padding: 2px;
    width: auto;
}

div.calendar thead td[colspan="6"] + td[colspan="1"] {
    font-size: 14px;
}
 
div.calendar thead td[colspan="3"] {
    font-size: 11px;
}


div.calendar thead .name {
    font-weight: 700;
    text-align: center;
    color: #000;
    padding: 5px 2px;
}

div.calendar thead .weekend {
    color: #999;
}

div.calendar thead .hilite {
     color: #666;
}

div.calendar thead .button.notclose.hilite {
    background: #d8d8d8;
}

div.calendar thead .active {
     color: #333;
}

div.calendar thead .active.notclose {
     padding: 3px 1px 0px 3px;
}

div.calendar tbody .day {
    background: #fff;
    color: #555;
    text-align: right;
    padding: 3px 8px 2px 8px;
}

div.calendar tbody .day.othermonth {
    font-size: 1.5em;
    background-color: white;
    color: black;
    font-style: italic;
}

div.calendar tbody .day.othermonth.oweekend {
    background: #fff;
    color: #a0a0a0;
}

div.calendar tbody td.active.day.othermonth,
div.calendar tbody th.active.day.othermonth {
    background: #333;
}

div.calendar tbody .rowhilite td.hilite.day.othermonth,
div.calendar tbody .rowhilite th.hilite.day.othermonth {
    background: #fff;
}

div.calendar tbody .rowhilite td.day.othermonth,
div.calendar tbody .rowhilite th.day.othermonth {
}

div.calendar .daynames .wn {
    border: 1px solid #EAEAEA;
    border-right: 1px solid #666;
    border-bottom: 1px solid #ccc;
}


div.calendar tbody .rowhilite td.selected,
div.calendar tbody .rowhilite th.selected {
    background: #006699;
}
 /* DEEP BLUE **/
div.calendar tbody .rowhilite td.wn,
div.calendar tbody .rowhilite th.wn {
    background: #fff;
    border: 1px solid #ccc;
}

div.calendar tbody td.hilite,
div.calendar tbody th.hilite {
    background: #d0e4ff;
     color: #333;
}

div.calendar tbody td.active,
div.calendar tbody th.active {
    background: #333;
    color: #fff;
}
 
div.calendar tbody td.weekend,
div.calendar tbody th.weekend {
    color: #a0a0a0;
}

div.calendar tbody td.selected,
div.calendar tbody th.selected {
    background: #006699;
    color: #fff;
}

div.calendar tbody .disabled {
}

div.calendar tbody .emptycell {
    background: #fff;
}

div.calendar tbody .emptyrow {
    display: none;
}


div.calendar .combo {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    font-size: 90%;
    width: 4em;
    cursor: default;
    background: #fff;
    border: 1px solid #ccc;
    color: #000;
    z-index: 100;
    font-size: 90%;
}

div.calendar .combo .label,
div.calendar .combo .label-IEfix {
    text-align: center;
    padding: 1px;
}

div.calendar .combo .label-IEfix {
    width: 4em;
}

div.calendar .combo .hilite {
    background: #b7d6ff;
    color: #666;
}

div.calendar .combo .active {
    background: #006699;
    color: #fff;
}

div.calendar td.time,
div.calendar th.time {
    text-align: center;
    color: #333;
    padding: 3px 0 1px;
}

div.calendar td.time[colspan="2"] {
    text-align: right;
}

div.calendar td.time .hour,
div.calendar th.time .hour,
div.calendar td.time .minute,
div.calendar th.time .minute,
div.calendar td.time .ampm,
div.calendar th.time .ampm {
    font-weight: bold;
    color: #000;
    padding: 0 5px 0 6px;
}

div.calendar td.time .ampm,
div.calendar th.time .ampm {
    text-align: center;
}

div.calendar td.time .colon,
div.calendar th.time .colon {
    font-weight: 700;
    padding: 0 2px 0 3px;
}

div.calendar td.time span.hilite,
div.calendar th.time span.hilite {
    background: #fff;
    color: #000;
}

div.calendar td.time span.active,
div.calendar th.time span.active {
    background: #333;
    color: white;
}

div.calendar td.special,
div.calendar th.special {
    background-color: #efefef;
    border: 1px solid #ccc;
}

div.calendar tbody td.hilite.special,
div.calendar tbody th.hilite.special {
    background: #fff;
    padding: 2px 4px 2px 2px;
}

div.calendar .rowhilite td.special,
div.calendar .rowhilite th.special {
    background-color: #efefef;
}


/* --- CALENDAR FOOTER --- */
div.calendar tfoot .footrow {
    text-align: center;
}

div.calendar tfoot .ttip {
    font-size: 11px;
    background: #e8e8e8;
    color: #777;
    padding: 3px 2px;
}

div.calendar tfoot .hilite {
    background: #fff;
    border: 1px solid #666;
    color: #000;
    padding: 1px;
}

div.calendar tfoot .active {
    background: #333;
    color: white;
    padding: 2px 0 0 2px;
}

.calendarContainer {
    position: relative;
    width: 200px;
}

.calendarContainer table {
    width: 100%;    
}

/* ExcludeAllFromPickersOutsideBlock */