﻿.ResponsiveOverlay {
    position: fixed;
    display: none;
    width: 250px; 
    bottom: 0; 
    right: 0;    
    color: #fff; 
    border-top-left-radius: 10px;
    font-family: sans-serif;
    font-size: 14px; 
    z-index: 10001;
    
    opacity: 0;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;     
    
        
}


.ResponsiveOverlay.show {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}


.ResponsiveOverlay_Top {
    width: 250px;    
    height: 40px; 
    color: #fff; 
    border-top-left-radius: 10px;
    padding: 10px; 
    font-weight: 600;
    font-size: 14px;
    background: rgba(51,51,51,1);
    background: -moz-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(10,10,10,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(51,51,51,1)), color-stop(100%, rgba(10,10,10,1)));
    background: -webkit-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(10,10,10,1) 100%);
    background: -o-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(10,10,10,1) 100%);
    background: -ms-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(10,10,10,1) 100%);
    background: linear-gradient(to bottom, rgba(51,51,51,1) 0%, rgba(10,10,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#0a0a0a', GradientType=0 );
}

.ResponsiveOverlay_Bottom {
    width: 250px;    
    color: #fff;
    padding: 10px;
    font-weight: 400; 
    font-size: 14px;
    
    background: #222;
}

.ResponsiveOverlay_Bottom .ToggleButton {
    width: 40px;
    height: 20px;
    background-color: #666;
    border-color: #333;
    border-radius: 25px;  
}

.ResponsiveOverlay_Bottom .ToggleButton_label:after, 
.ResponsiveOverlay_Bottom .ToggleButton_label.changed:after {
    border-radius: 20px;
    height: 10px;
    top: 3px;
    width: 10px;
}

.ResponsiveOverlay_Bottom .ToggleButton_label.changed:after{
    left: 25px;
}

.ResponsiveOverlay_Bottom .ToggleButton.changed {
    border-color: #2B5612;
    background-color: #6EA01F;
}

.ResponsiveOverlay_Bottom .ToggleButton_label {
    width: 40px;
    height: 20px;
}

.ResponsiveOverlay_Bottom .ToggleButton_label input {
    right: 0;
}

.ResponsiveOverlay_bg {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;    
    opacity: 0;   
    
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;    
    
    
    
}

.ResponsiveOverlay__loading{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-animation: fa-spin .8s infinite linear;
    animation: fa-spin .8s infinite linear;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 30px;
}




.ResponsiveOverlay_bg.show {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    
    
}


.ResponsiveOverlay_Preview{
    color: #FFF;
    padding: 10px 0px;
}

.ResponsiveOverlay_Preview a{
    margin-left: 10px;
    font-size: 16px;
}

.ResponsiveOverlay_Preview a span.fa{
    color: #fff;
}

.ResponsiveOverlay_Preview a:hover span.fa{
    color: #CCC;
}


.ResponsiveOverlay .OpenClose{
    cursor: pointer;
}



.SilkUIDevTools{
    width: 100%;
    padding: 20px;
    background-color: #CCC;
}

.SilkUIDevTools_log{
    width: 100%;
    padding: 20px;
    background-color: #EFEFEF;
    margin-bottom: 0px;
    height: 100px;
    overflow-y: auto;
    font-size: 11px;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

.SilkUIDevTools textarea{
    margin-bottom: 10px;
}
