<div class="dataTable_wrapper">
    <legend class="section" style="font-weight: 600;"> Edição de Membro</legend>
    <div style="float: right;">
        <button class="btn btn-success" ng-disabled="frm.$invalid" ng-click="save()"  >Salvar <i class="fa fa-plus"></i></button>
        <a href="#/membro" class=" btn btn-primary" >Voltar <i class="fa fa-reply"></i></a>
    </div>
    <div class="row" style="padding-top:3em;">
        <legend class="section" style="font-weight: 600;"></legend>
        <form novalidate action="" name="frm" id="frm">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" id="name" name="name" ng-model="member.name" maxlength="50" placeholder="Informe o nome." autofocus required />
                        <span  style="color: #a94442;" ng-show="frm.name.$error.required && frm.name.$dirty">Campo Obrigatório</span>
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="birthday">Aniversário</label>
                        <input type="text" class="form-control" id="birthday" name="birthday" ng-model="member.birthday" maxlength="5" placeholder="Informe o dia-mês." required />
                        <span  style="color: #a94442;" ng-show="frm.birthday.$error.required && frm.birthday.$dirty">Campo Obrigatório</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>