@charset "utf-8";

#fotos-header{
	padding: 5px 0;
    text-align: center;
}
#fotos-header img.imagem{
	width: 	222px;
	height: 125px;
	padding: 0;
}

.corVerdeFundoFotos .container{
	padding: 0 !important;
}

#header-container{
	padding: 0 !important;	
}

#main #identificacao{
	padding: 10px 15px;
	border-bottom: 1px #ddd solid;
	background-color: #eee;
}
#main #identificacao i{
	margin-left: 20px;
}

#main #person{
	font-weight: 600;
}

#main #servicos{
	padding: 30px 20px 0 20px;
}

#main #servicos .card-body .btn{
	float: 	right;
}