﻿.mensagem {
  color: white; 
}

@font-face {
  font-family: "Yanone Kaffeesatz";
  font-style: normal;
  font-weight: 200;
  src: local("Yanone Kaffeesatz ExtraLight"), local("YanoneKaffeesatz-ExtraLight"), url("http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v4/We_iSDqttE3etzfdfhuPRYa6iXjgqaxY3DU3RqApPOI.woff") format("woff");
}
.Content{
  padding-top: 1%;
  background: none;
}

.ThemeGrid_Wrapper  .ThemeGrid_Container  {
  padding-left: 1%;
  padding-right: 1%;
}
.MainContent{
  background: none;
  margin-top: 10px;
}
body{
  background-color: #177340;
}
.Login_Button{
  background-color: #177340;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 32px;
  line-height: 30px;
  margin-left: 10px;
  min-width: 80px;
  padding: 0 5px;
  text-align: center;
  text-decoration: none; 
}
.Login_Certificado{
  background-color: #696969;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 32px;
  line-height: 30px;
  margin-left: 10px;
  min-width: 80px;
  padding: 0 5px;
  text-align: center;
  text-decoration: none; 
}
.Login_small_text {
  font-weight: 0.8em;   
}
.Login_Label {
  color: #777;
  font-size: 0.8em;
}
.Login_Header {
  position: relative;
  color: #777;
  font-size: 1em;
  font-weight: bold; 
  padding-left: 60px;
  padding-top: 15px;
}
.Login_Header_Container{
  margin-bottom: 10px;   
  display: block;
  position: relative;
}
.Login_Icon{
  position: absolute;
  float:left;
}
.LoginContainer{
  padding: 15px;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 10px;
  background-color: #fafafa;
  min-width: 350px;
  width: 350px;
  margin: 0px auto;
}
.Suporte-Text {
  font-family: "Yanone Kaffeesatz";
  font-size: 1.2em;
  color: #999999;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
}
.EditRecord_Buttons .Button {
  margin-left: 0px; 
  padding-left: 0px;
}
.LogoContainer {
 float:left;   
}
.TituloContainer{
  position: absolute;
  font-size: 1.8em;
  color: #fff;
  text-shadow: -1px 2px #555;
  margin-top:30px;
  margin-left: 200px;
}
.Text_small {
  font-size: 8px;
}
a .Text_small  {
  text-decoration: underline;
  cursor: pointer;
}
.IntranetLoginHeader {
 margin-top: 60px;   
 margin-bottom: 20px;
}

@media (max-width: 520px) {
  .Content.ThemeGrid_Wrapper .ThemeGrid_Container .Column.ColLast{
    width: 100%;   
  }

  .Content.ThemeGrid_Wrapper .ThemeGrid_Container .ThemeGrid_Width8{
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .Content.ThemeGrid_Wrapper .ThemeGrid_Container .Column.ColFirst{
    width: 80%;   
  }
  .Content.ThemeGrid_Wrapper .ThemeGrid_Container .Column.ColFirst{
    width: 30%;   
  }
}

@media (max-width: 700px) {
  .tablet.portrait div.Content.ThemeGrid_Wrapper div.Column.ColFirst{
    width: 60%;   
  }   
}

.OSFillParent { 
 display: block;
 width: 100%;
}
table.OSFillParent {
 display: table;
}
input.OSFillParent,
button.OSFillParent,
select.OSFillParent,
textarea.OSFillParent {
 display: inline-block;
 box-sizing: border-box;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
}
.OSInline {
 display: inline-block;
 *zoom: 1;
 *display: inline;
 vertical-align: top;
}
table.OSInline {
 display: inline-table;
}
.OSAutoMarginTop {
 margin-top: 10px;
}
table[class*="ThemeGrid_Width"] {
 display: inline-table;
 vertical-align: top;
}
div[class*="ThemeGrid_Width"] {
 vertical-align: top;
}
th[class*="ThemeGrid_Width"],
td[class*="ThemeGrid_Width"] {
 display: table-cell;
}
[class*="ThemeGrid_Width"] {
 display: inline-block;
 box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 *zoom: 1;
 *display: inline;
}
.ThemeGrid_Container {
 box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
}

/**SOBRESCRITA BOOTSTRAP**/

.form-control-plaintext{
  background: #fff;
}

#wt38_wtLoginContent_wtHeader h1{
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 30px;
}

#wt38_wtLoginContent_wtFormLogin input{
  background-color: #fff;
}