@charset "utf-8";




body{
	background-color: #f7f7f7;
}

#box{
	background-color: #fff;
	box-shadow: 0px 0px 10px #bbb;
	padding: 0;
	min-height: 100%;
	padding-bottom: 40px;
}

#box form{
	padding: 0 10px 20px 10px;
}

#box section{
	padding: 0 20px 20px;
}


.navbar-brand #logo{
	max-height: 80px;
	margin: 10px 10px 10px 0;
}

h1{
	font-weight: 700;
	font-size: 1.8rem;
}

h2{
	font-weight: 700;
	font-size: 24px;
	color: #007336;
	margin: 30px 0 15px 0;
}

h3{
	font-size: 1.3rem;
	font-weight: 700;
	color: #Cf2930;
}

h3 small{
	color: #5a5a5a;
}

ol#etapas{
	list-style: none;
	counter-reset: li;
}

ol#etapas > li::before {
	content: counter(li);
	color: #fff;
	font-weight: 600;
	display: inline-block;
	width: 1em;
	margin-left: -2em;
	width: 27px;
	height: 27px;
	border-radius: 15px;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	background: #Cf2930;
	float: left;
	margin-right: 8px;
}

ol#etapas > li {
	margin-top: 20px;
	counter-increment: li;
}

#box section i#checkedIcon{
	font-size: 95px;
	color: #2c8c0f;
	margin: 60px 0 0px;
}

#box section i.icon-red{
	color: #a00c0c;
}

#box section i.icon-blue{
	color: #14649e;
}

#box section i.icon-gray{
	color: #2f2f2f;
}

#box section div{
	max-width: 600px;
	margin: 0 auto;
}

#box section div ul.list-unstyled{
	margin-left: 30px;
}

#box .justify-content-center a.btn{
	margin-left: 10px;
}