@charset "utf-8";


form .form-steps:not(:first-child){
	margin-top: 5px;
}

form .form-steps{
	padding-right: 20px;
	padding-left: 10px;
	padding-top: 25px;
}

form .form-row{
	margin: 0;
	background: #f8f8f8;
	padding: 10px 10px 0;
}

form legend{
	font-weight: 700;
	color: #007336;
	border-bottom: 1px #3c7155 solid;
	margin: 0;
}

form fieldset legend{
	font-size: 1.2rem;
	font-weight: 600;
	color: #Cf2930;
	border-bottom: 1px #c3a3a4 solid;
}


form fieldset{
	margin: 30px 0;
}
form label{
	font-weight: 600;
	color: #444;
}

form .form-check input,
form .form-check label{
	margin-right: 10px;
}

form .form-check .radio{
	float: left;
}

form .form-group,
form .form-steps,
form .form-row{
	clear: both;
}


form .justify-content-end{
	padding: 0 40px;
}

form .justify-content-end button{
	margin-left: 10px;
}

nav.bg-light{
	background-color: #007336 !important;
}

ul.navbar-nav li a{
	color: #fff !important;
}

@media screen and (min-width: 768px) {
	.custom-file {
		margin-top: 32px !important;
	}
	.custom-file#alvaraprincipal {
		margin-top: 25px !important;
	}
}